EVOLUTION_API_URL=https://sua-evolution-api.com
EVOLUTION_API_KEY=sua_api_key_aqui
EVOLUTION_INSTANCE=nome_da_instancia
OWNER_PHONE=5581987990864
OWNER_PHONE_2=5581995776879
OPERATOR_PHONE=5581979073673
PORT=3000
